{% extends 'base.html' %}
{% block title %}All characters{% endblock %}

{% block content %}
{% if posts %}
<div class="card-list">
    {% for char in posts %}
    <div class="data-card" style="font-size:.9rem;">
        <div><span class="field-label">Id:</span> {{char['character_id']}}</div>
        <div style="margin-top:.25em;"><span class="field-label">Name:</span> <strong>{{char['name']}}</strong></div>
        <div><span class="field-label">Max level:</span> {{char['max_level']}}</div>

        <div style="margin-top:.6rem;">Frag-level 1:&nbsp;&nbsp;{{char['frag1']}} &nbsp;&nbsp;<br>Prog-level
            1:&nbsp;&nbsp;{{char['prog1']}} &nbsp;&nbsp;<br>Overdrive-level 1:&nbsp;{{char['overdrive1']}}</div>
        <div>Frag-level 20:&nbsp;&nbsp;{{char['frag20']}} &nbsp;&nbsp;<br>Prog-level 20:&nbsp;&nbsp;{{char['prog20']}}
            &nbsp;&nbsp;<br>Overdrive-level 20:&nbsp;{{char['overdrive20']}}</div>
        <div>Frag-level 30:&nbsp;&nbsp;{{char['frag30']}} &nbsp;&nbsp;<br>Prog-level 30:&nbsp;&nbsp;{{char['prog30']}}
            &nbsp;&nbsp;<br>Overdrive-level 30:&nbsp;{{char['overdrive30']}}</div>

        <div style="margin-top:.6rem;">Skill id: {{char['skill_id']}} &nbsp;&nbsp; Skill unlock level:
            {{char['skill_unlock_level']}}, Uncapped skill id: {{char['skill_id_uncap']}} &nbsp;&nbsp; Is uncapped:
            {{char['is_uncapped']}}</div>
    </div>
    {% if not loop.last %}
    <hr style="border:none;border-top:1px solid #e5e7eb;margin:.4rem 0;">{% endif %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}