{% extends 'base.html' %}
{% block title %}All purchases{% endblock %}

{% block content %}
{% if posts %}
<div class="card-list">
    {% for item in posts %}
    <div class="data-card">
        <div><span class="field-label">Name:</span> <span class="field-value"
                style="font-weight:600;">{{item['purchase_name']}}</span></div>
        <div style="margin-top:.25em;"><span class="field-label">Price:</span> {{item['price']}}</div>
        <div style="margin-top:.25em;"><span class="field-label">Original price:</span> {{item['orig_price']}}</div>
        <div><span class="field-label">Discount from:</span> {{item['discount_from']}}
            <div style="margin-top:.25em;"><span class="field-label">Discount to:</span> {{item['discount_to']}}</div>
            <div><span class="field-label">Purchase with exchange certificate:</span> {{item['discount_reason']}}</div>

            {% if item.get('items') %}
            <table style="margin-top:.5em; font-size:.84rem;" cellpadding="0" cellspacing="0">
                <tbody>
                    {% for x in item['items'] %}
                    <tr>
                        <td>Item id: </td>
                        <td>{{x['item_id']}} &nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Type: </td>
                        <td>{{x['type']}} &nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Amount: </td>
                        <td>{{x['amount']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    {% if not loop.last %}
    <hr style="border:none;border-top:1px solid #e5e7eb;margin:.4rem 0;">
    {% endif %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}