{% extends 'base.html' %}
{% block title %}All presents{% endblock %}

{% block content %}
{% if posts %}
<div class="card-list">
    {% for present in posts %}
    <div class="data-card">
        <div><span class="field-label">Id:</span> <span class="field-value"
                style="font-weight:600;">{{present['present_id']}}</span></div>
        <div style="margin-top:.25em;"><span class="field-label">Expire time:</span> {{present['expire_ts']}}</div>
        <div style="margin-top:.25em;"><span class="field-label">Description:</span> {{present['description']}}</div>

        {% if present.get('items') %}
        <table style="margin-top:.5em; font-size:.84rem;" cellpadding="0" cellspacing="0">
            <tbody>
                {% for x in present['items'] %}
                <tr>
                    <td>Item id: </td>
                    <td>{{x['item_id']}} &nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>Type: </td>
                    <td>{{x['type']}} &nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>Amount: </td>
                    <td>{{x['amount']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    {% if not loop.last %}
    <hr style="border:none;border-top:1px solid #e5e7eb;margin:.4rem 0;">{% endif %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}