{% extends 'base.html' %}
{% block title %}All redeem codes{% endblock %}

{% block content %}
{% if posts %}
<div class="card-list">
    {% for redeem in posts %}
    <div class="data-card">
        <div><span class="field-label">Code:</span> <span class="field-value"
                style="font-weight:600;">{{redeem['code']}}</span></div>

        <div style="margin-top:.25em;"><span class="field-label">Type:</span>
            {% if redeem['type'] == 0 %}It can only be used once.{% elif redeem['type'] == 1 %}Each user can only use it
            once.{% endif %}
        </div>

        {% if redeem.get('items') %}
        <table style="margin-top:.5em; font-size:.84rem;" cellpadding="0" cellspacing="0">
            <tbody>
                {% for x in redeem['items'] %}
                <tr>
                    <td>Item id: </td>
                    <td>{{x['item_id']}} &nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>Type: </td>
                    <td>{{x['type']}} &nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>Amount: </td>
                    <td>{{x['amount']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <div style="margin-top:.5em;"><a href="/web/redeem/{{redeem['code']}}">Players who have used it.</a></div>
    </div>
    {% if not loop.last %}
    <hr style="border:none;border-top:1px solid #e5e7eb;margin:.4rem 0;">{% endif %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}