{% extends 'base.html' %}
{% block title %}Change the purchases{% endblock %}

{% block content %}
<form class="form-block" action="/web/changepurchase" method="post">
    <div class="form-title">Add the purchase</div>

    <label for="purchase_name">Purchase name</label>
    <input name="purchase_name" id="purchase_name" required><br>

    <label for="price">Price</label>
    <input name="price" id="price"><br>

    <label for="orig_price">Original price</label>
    <input name="orig_price" id="orig_price"><br>

    <label for="discount_from">Discount from (HTML5 datetime-local)</label>
    <input type="datetime-local" name="discount_from" id="discount_from"><br>

    <label for="discount_to">Discount to (HTML5 datetime-local)</label>
    <input type="datetime-local" name="discount_to" id="discount_to"><br><br>

    <div style="font-size:.84rem; color:#374151;">Whether it is allowed to purchase with Anniversary 5 ticket:</div>
    <div class="radio-group mt-sm">
        <label><input type="radio" name="discount_reason" value="0">No</label>
        <label style="margin-left:1rem;"><input type="radio" name="discount_reason" value="anni5tix">Yes</label>
    </div><br><br>

    <div class="form-hint mt-sm">Time filling is an HTML5 control.</div>
    <input type="submit" value="Add">
</form>

<form class="form-block" action="/web/changepurchase/delete" method="post">
    <div class="form-title">Delete the purchase</div>

    <label for="purchase_name">Purchase name</label>
    <input name="purchase_name" id="purchase_name" required><br><br>

    <input type="submit" value="Delete">
</form>

{% endblock %}