{% extends 'base.html' %}
{% block title %}Change user purchase information{% endblock %}

{% block content %}
<form class="form-block" action="/web/changeuserpurchase/edituser" method="post">
    <div class="form-title">Edit the user</div>

    <label for="name">Arcaea Username</label>
    <input name="name" id="name"><br><span style="font-size:.84rem; color:#6b7280;">or</span><br>

    <label for="user_code">Arcaea User Code</label>
    <input name="user_code" id="user_code"><br><br>

    <div style="font-size:.84rem; color:#374151;">Operation to all singles and packs:</div>
    <div class="radio-group mt-sm">
        <label><input type="radio" name="method" value="0">Unlock</label>
        <label style="margin-left:1rem;"><input type="radio" name="method" value="1">Lock (封绝)</label>
    </div><br><br>

    <input type="submit" value="Execute">
</form>

<form class="form-block" action="/web/changeuserpurchase/edituser" method="post">
    <div class="form-title">Edit all the users</div>

    <div style="font-size:.84rem; color:#374151;">Operation to all singles and packs:</div>
    <div class="radio-group mt-sm">
        <label><input type="radio" name="method" value="0">Unlock</label>
        <label style="margin-left:1rem;"><input type="radio" name="method" value="1">Lock (封绝)</label>
    </div><br><br>

    <input type="submit" value="Execute">
</form>

{% endblock %}