{% extends 'base.html' %}
{% block title %}Change user information{% endblock %}

{% block content %}
<form class="form-block" action="/web/changeuser/edituser" method="post">
    <div class="form-title">Edit the user</div>

    <label for="name">Arcaea Username</label>
    <input name="name" id="name"><br><span style="font-size:.84rem; color:#6b7280;">or</span><br>

    <label for="user_code">Arcaea User Code</label>
    <input name="user_code" id="user_code">

    <label for="ticket">Memories</label>
    <input name="ticket" id="ticket">

    <div class="form-hint mt-sm">If some things do not need to be modified, leave it blank.</div>
    <div class="form-hint">At present, only memories can be modified.</div>

    <input type="submit" value="Edit">
</form>

<form class="form-block" action="/web/changeuser/edituser" method="post">
    <div class="form-title">Edit all the users</div>

    <label for="ticket">Memories</label>
    <input name="ticket" id="ticket">

    <input type="submit" value="Edit all">
</form>

{% endblock %}