{% extends 'base.html' %}
{% block title %}Deliver presents{% endblock %}

{% block content %}
<form class="form-block" action="/web/deliverpresent" method="post">
    <div class="form-title">Deliver to the user</div>

    <label for="name">Arcaea Username</label>
    <input name="name" id="name"><br><span style="font-size:.84rem; color:#6b7280;">or</span><br>

    <label for="user_code">Arcaea User Code</label>
    <input name="user_code" id="user_code"><br><br>

    <label for="present_id">ID of the present</label>
    <input name="present_id" id="present_id" required><br><br>

    <input type="submit" value="Edit">
</form>

<form class="form-block" action="/web/deliverpresent" method="post">
    <div class="form-title">Deliver to all the users</div>

    <label for="present_id">ID of the present</label>
    <input name="present_id" id="present_id" required><br><br>

    <input type="submit" value="Edit all">
</form>

{% endblock %}