{% extends 'base.html' %}
{% block title %}Update users' saves{% endblock %}

{% block content %}
<form class="form-block" action="/web/updateusersave" method="post">
    <div class="form-title">Update one user's saves to the database</div>

    <label for="name">Arcaea Username</label>
    <input name="name" id="name"><br><span style="font-size:.84rem; color:#6b7280;">or</span><br>

    <label for="user_code">Arcaea User Code</label>
    <input name="user_code" id="user_code"><br><br>

    <input type="submit" value="Update">
</form>

<form class="form-block" action="/web/updateusersave" method="post">
    <div class="form-title">Update all users' saves to the database</div>

    <input type="submit" value="Update all">

    <table style="margin-top:.75rem; font-size:.84rem;" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td colspan="2">Here you can overlay the saves uploaded by users to best_score table. Please remember
                    that it is an overlay action, so scores will not be compared.</td>
            </tr>
        </tbody>
    </table>
</form>

{% endblock %}