{% extends 'base.html' %}
{% block title %}Update databases{% endblock %}

{% block content %}
<form class="form-block" method="post" enctype="multipart/form-data">
    <div class="form-title">Upload old database</div>

    <label for="file">Old database file (arcaea_database.db)</label>
    <input type="file" name="file"><br><br>

    <input type="submit" value="Submit">

    <div style="margin-top:.75rem; font-size:.84rem; line-height:1.6;">
        <p class="text-muted mb-sm">Here you can synchronize the old version of the database to the new version and
            refresh the list of full characters owned by players.</p>

        <div style="display:flex; gap:.5em; align-items:baseline;"><span style="color:#4b5563;">Uploadable
                files:<strong>{{ 'arcaea_database.db' }}</strong></div>
        <p class="text-muted mt-sm">Data that does not exist in the new database will be added and existing duplicate
            data will also be changed.</p>
    </div>
</form>

<form class="form-block refresh-form" action="/web/updatedatabase/refreshsonghash" method="post">
    <div class="form-title">Refresh songs' hash</div>
    <input type="submit" value="Refresh">
    <div class="text-muted mt-sm">Here you can refresh the hash values of all files stored in the songs folder in the
        database.<br>Purpose: deal with updating of song chart files.</div>
</form>

<form class="form-block refresh-form" action="/web/updatedatabase/refreshsongrating" method="post">
    <div class="form-title">Refresh songs' rating</div>
    <input type="submit" value="Refresh">
    <div class="text-muted mt-sm">Here you can refresh the ratings of all scores in the database.<br>Purpose: deal with
        updating of song chart consts.</div>
</form>

<form class="form-block refresh-form" action="/web/updatedatabase/refreshsbundle" method="post">
    <div class="form-title">Refresh content bundles</div>
    <input type="submit" value="Refresh">
    <div class="text-muted mt-sm">Here you can refresh the information of all files stored in the bundle folder in
        memory.<br>Purpose: deal with updating of content bundles.</div>
</form>

<form class="form-block refresh-form" action="/web/updatedatabase/refreshworldmap" method="post">
    <div class="form-title">Refresh world maps</div>
    <input type="submit" value="Refresh">
    <div class="text-muted mt-sm">Here you can refresh the information of all files stored in the map folder in memory.
        <br>Purpose: deal with updating of world maps.
    </div>
</form>

{% endblock %}